<!-- Head -->
<%-include("partials/head.ejs") %>

<body>
    <!-- Nav -->
    <%-include("partials/nav.ejs") %>

    <section></section>

</body>

<!-- Javascript Bootstrap foot -->
<%-include("partials/foot.ejs") %>

</html>