<!-- Head -->
<%-include("partials/head.ejs") %>

<body>
    <!-- Nav -->
    <%-include("partials/nav.ejs") %>

    <section class="container">
        <br>
        <h1>Nenhuma pergunta encontrada!</h1>
    </section>

</body>

<!-- Javascript Bootstrap foot -->
<%-include("partials/foot.ejs") %>

</html>