.container{
    padding: 0 50px;
    height: 70vh;
    margin: 0px auto;
    background-color: #dff9fb;
    overflow-y: scroll;
}
.container ul{
    list-style: none;
    display: grid;
    gap: 10px;
    height: auto;
    width: 100%;
    margin-top: 10px;
}