@media (min-width:0px){
    body{
        background-color: black;
        color: white;
    }
}
@media (min-width: 480px){
    body{
        background-color: rgb(58, 58, 58);
        color: white;
    }
}
@media (min-width: 996px){
    body{
        background-color: grey;
        color: green;
    }
}
@media (min-width: 1200px){
    body{
        background-color: green;
        color: black;
    }
}